<!DOCTYPE html>
<html>
<head>
<title>Vue JS</title>
<script src="vue.global.js"></script>
</head>
<body>
<div id="app">
    <div>
        Cart: <span>{{ cart }}</span>
    </div>
<h1>{{ firstName }} {{ lastName }}</h1>
<h2>{{ designation }}</h2>
<h2>{{ age }}</h2>
<h2>{{ salary }}</h2>
<img v-bind:src="image">
<!-- <p style="color: green;" v-if="inStock">In Stock</p>
<p style="color: red;" v-else="inStock">Out of Stock</p> -->
<p style="color: green" v-if="stock > 10">In Stock</p>
<p style="color: orange" v-else-if="stock <= 10 &&  stock > 0">Almost sold out</p>
<p v-else style="color: red">Out of Stock</p>
<ul :style="[{fontSize: mysize + 'px'},{backgroundColor: bgColor}]">
    <li v-for="person in persons" :key="person.id">{{ person.name }}</li>
</ul>

<button type="button" v-on:click="addToCart">Add to cart</button>
<button type="button" v-on:click="addFontSize">Increaze Font Size</button>

</div>

<script src="main.js"></script>
<script>
    const mountedApp = app.mount("#app");
</script>
</body>
</html>
